<%= form_with model:@prototype, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "場所の名称" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "おすすめポイント" %><br />
    <%= f.text_area :catch_copy, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :consent, "電源" %><br />
    <%= f.text_area :consent, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :net, "Wi-Fi" %><br />
    <%= f.text_area :net, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :access, "アクセス" %><br />
    <%= f.text_area :access, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "場所の画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>
<% end %>